In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
import feature_engine
import sklearn
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
from feature_engine.imputation import MeanMedianImputer

In [11]:
# Specify the path to the CSV file
csv_file_path = 'hotelbudget.csv'  # Replace with the actual file path

# Load the CSV file into a pandas DataFrame with the correct delimiter
df = pd.read_csv(csv_file_path, delimiter=';')

# Display the DataFrame to verify the data has been loaded correctly
df

,Date,Resturant Revenue,Bar Revenue,Rooms Revenue,Total Revenue,Restaurant D.Cost,Bar D.Cost,Hotel D.Cost,Total Direct Costs,Eventuals Wages,...,Transport,Booking.com,POS System,Google Mail,Facebook,Little Hotelier,Comisiones POS,Total Inirect Costs,Total Operating Costs,GOP
0,2023-01,279779.0,143012.0,472928.0,895720.0,133077.0,55849.0,52956.0,241882.0,29950.0,...,3554.0,21503.0,2006.0,840.0,2236.0,4436.0,29484.0,310913.0,552795.0,342925.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN