In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
import feature_engine
import sklearn
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
from feature_engine.imputation import MeanMedianImputer

In [2]:

excel_file_path = 'budgetusd.xlsx'

# Load the Excel file into a pandas DataFrame
df = pd.read_excel(excel_file_path)

df

,Date,Resturant Revenue,Bar Revenue,Rooms Revenue,Total Revenue,Restaurant D.Cost,Bar D.Cost,Hotel D.Cost,Total D. Costs,Eventuals Wages,...,Transport,Booking.com,POS System,Google Mail,Facebook,Little Hotelier,Comisiones POS,Total Indirect Costs,Total Operating Costs,GOP
0,2022-01,7771.638889,3972.555556,13136.888889,24881.083333,3696.583333,1551.361111,1471.000000,6718.944444,831.944444,...,98.722222,597.305556,55.722222,23.333333,62.111111,123.222222,819.000000,8636.472222,15355.416667,9525.666667
1,2022-02,5660.000000,3773.333333,11430.527778,20863.861111,3476.777778,2317.861111,935.388889,6730.027778,864.027778,...,98.722222,117.666667,55.722222,23.333333,62.111111,123.222222,519.444444,7668.083333,14398.111111,6465.750000
2,2022-03,5299.861111,3533.222222,9742.611111,18575.694444,2250.000000,1944.444444,1150.555556,5345.000000,555.138889,...,209.138889,627.388889,56.027778,30.194444,99.305556,118.000000,370.305556,9030.333333,14375.333333,4200.361111
3,2022-04,11300.750000,7533.833333,15043.805556,33878.388889,4243.194444,3128.944444,2108.000000,9480.138889,1269.333333,...,397.277778,362.972222,162.472222,35.694444,246.055556,118.000000,700.000000,10224.527778,19704.666667,14173.722222
4,2022-05,5555.010000,3703.340000,8546.169167,17804.519167,1666.666667,1336.334822,861.111111,3864.112600,661.152778,...,157.166667,363.986556,56.186111,35.800000,144.920389,118.000000,500.000000,8610.856644,12474.969244,5329.549923
5,2022-06,2821.991944,1881.328056,7171.419167,11874.739167,1166.666667,555.555556,972.222222,2694.444444,227.083333,...,161.500000,543.115833,56.186111,35.800000,118.458222,118.000000,305.555556,8109.481000,10803.925444,1070.813722
6,2022-07,6345.989444,4230.659722,15864.973889,26441.623056,2611.111111,1384.676389,2219.170556,6214.958056,629.722222,...,249.662222,476.297297,56.393121,35.800000,46.761375,118.000000,617.972222,8203.800747,14418.758802,12022.864253
7,2022-08,5398.003139,3598.668611,11925.820833,20922.492583,1861.111111,1206.326611,1249.312778,4316.750500,625.277778,...,151.666667,239.138840,56.487915,35.800000,149.967917,118.000000,527.777778,7906.368110,12223.118610,8699.373973
8,2022-09,5495.210667,3663.473778,13738.026667,22896.711111,2138.888889,1808.136339,431.602421,4378.627649,487.638889,...,248.055556,263.162286,56.487915,35.800000,170.240833,118.000000,515.027778,9613.941014,13992.568662,8904.142449
9,2022-10,3969.148564,2646.099042,7765.725450,14380.973056,1388.888889,671.272218,619.920069,2680.081176,420.833333,...,216.250000,241.346528,56.675307,35.800000,176.074631,128.326938,361.111111,9234.170205,11914.251381,2466.721675
10,2022-11,5675.939722,3783.959722,14796.252778,24256.152222,2172.222222,1723.832868,787.545255,4683.600345,992.083333,...,329.722222,183.967182,56.767590,36.170500,176.074631,128.535891,541.666667,12568.160008,17251.760352,7004.391870
11,2022-12,8197.770556,5465.180556,16039.116389,29702.067500,3319.444444,2883.878430,525.377478,6728.700352,1119.027778,...,354.027778,319.550884,56.767590,36.170500,196.635859,128.535891,813.888889,10581.766770,17310.467122,12391.600378