In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import statsmodels.api as sm
import matplotlib.pyplot as plt
import feature_engine
import sklearn
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
from feature_engine.imputation import MeanMedianImputer
import math

In [17]:
excel_file_path = 'budgetusd.xlsx'

sheet_name = "Revenue"

df = pd.read_excel(excel_file_path, sheet_name=sheet_name)

# Load the Excel file into a pandas DataFrame

df

,Date,Percentage %,Holidays Local,Winter North,Holidays North,Local Rainy Season,International Flights,Marketing,Resturant Revenue,Bar Revenue,Rooms Revenue,Total Revenue
0,2022-01,0.61,3,Yes,7,No,1,62.111111,7771.638889,3972.555556,13136.888889,24881.083333
1,2022-02,0.62,1,Yes,0,No,1,62.111111,5660.000000,3773.333333,11430.527778,20863.861111
2,2022-03,0.39,0,Yes,0,No,1,99.305556,5299.861111,3533.222222,9742.611111,18575.694444
3,2022-04,0.70,5,No,0,No,1,246.055556,11300.750000,7533.833333,15043.805556,33878.388889
4,2022-05,0.47,1,No,0,Medium,1,144.920389,5555.010000,3703.340000,8546.169167,17804.519167
5,2022-06,0.33,0,No,0,Medium,1,118.458222,2821.991944,1881.328056,7171.419167,11874.739167
6,2022-07,0.67,3,No,20,Medium,1,46.761375,6345.989444,4230.659722,15864.973889,26441.623056
7,2022-08,0.49,2,No,10,Medium,1,149.967917,5398.003139,3598.668611,11925.820833,20922.492583
8,2022-09,0.51,3,No,0,Yes,1,170.240833,5495.210667,3663.473778,13738.026667,22896.711111
9,2022-10,0.40,0,No,0,Yes,1,176.074631,3969.148564,2646.099042,7765.725450,14380.973056
10,2022-11,0.56,0,Yes,0,No,3,176.074631,5675.939722,3783.959722,14796.252778,24256.152222
11,2022-12,0.79,5,Yes,10,No,3,196.635859,8197.770556,5465.180556,16039.116389,29702.067500
12,2023-01,0.81,3,Yes,7,No,4,277.435236,11362.223050,4926.230839,18609.989444,34898.443333
13,2023-02,0.82,1,Yes,0,No,4,583.333333,6112.636236,4075.090825,16622.081111,26809.808172
14,2023-03,0.73,0,Yes,0,No,4,189.902638,7636.826934,5603.883317,21306.423360,34547.133611
15,2023-04,0.78,5,No,0,No,4,339.389642,10182.808819,6788.539167,17039.369467,34010.717453
16,2023-05,0.60,1,No,0,Medium,4,366.894419,7338.333333,5283.640278,16731.527778,29353.501389
17,2023-06,0.52,0,No,0,Medium,4,289.959808,6458.856389,4085.951111,15332.020833,25876.828333
18,2023-07,0.83,3,No,20,Medium,4,319.483713,7797.377222,5928.208056,20746.446944,34472.032222
19,2023-08,0.62,2,No,10,Yes,4,319.483713,6000.000000,5000.000000,17000.000000,28000.000000
20,2023-09,NaN,3,No,0,Yes,4,319.483713,NaN,NaN,NaN,NaN
21,2023-10,NaN,0,No,0,Yes,4,319.483713,NaN,NaN,NaN,NaN
22,2023-11,NaN,0,Yes,0,No,4,319.483713,NaN,NaN,NaN,NaN
23,2023-12,NaN,5,Yes,10,No,4,319.483713,NaN,NaN,NaN,NaN

In [18]:
# This function will remove decimal points

def round_up_numeric(value):
    if pd.notnull(value) and isinstance(value, (int, float)):
        return math.ceil(value * 100) / 100
    return value

df =  df.applymap(round_up_numeric)

In [19]:
df

,Date,Percentage %,Holidays Local,Winter North,Holidays North,Local Rainy Season,International Flights,Marketing,Resturant Revenue,Bar Revenue,Rooms Revenue,Total Revenue
0,2022-01,0.61,3.0,Yes,7.0,No,1.0,62.12,7771.64,3972.56,13136.89,24881.09
1,2022-02,0.62,1.0,Yes,0.0,No,1.0,62.12,5660.00,3773.34,11430.53,20863.87
2,2022-03,0.39,0.0,Yes,0.0,No,1.0,99.31,5299.87,3533.23,9742.62,18575.70
3,2022-04,0.70,5.0,No,0.0,No,1.0,246.06,11300.75,7533.84,15043.81,33878.39
4,2022-05,0.47,1.0,No,0.0,Medium,1.0,144.93,5555.01,3703.34,8546.17,17804.52
5,2022-06,0.33,0.0,No,0.0,Medium,1.0,118.46,2822.00,1881.33,7171.42,11874.74
6,2022-07,0.67,3.0,No,20.0,Medium,1.0,46.77,6345.99,4230.66,15864.98,26441.63
7,2022-08,0.49,2.0,No,10.0,Medium,1.0,149.97,5398.01,3598.67,11925.83,20922.50
8,2022-09,0.51,3.0,No,0.0,Yes,1.0,170.25,5495.22,3663.48,13738.03,22896.72
9,2022-10,0.40,0.0,No,0.0,Yes,1.0,176.08,3969.15,2646.10,7765.73,14380.98
10,2022-11,0.57,0.0,Yes,0.0,No,3.0,176.08,5675.94,3783.96,14796.26,24256.16
11,2022-12,0.79,5.0,Yes,10.0,No,3.0,196.64,8197.78,5465.19,16039.12,29702.07
12,2023-01,0.81,3.0,Yes,7.0,No,4.0,277.44,11362.23,4926.24,18609.99,34898.45
13,2023-02,0.82,1.0,Yes,0.0,No,4.0,583.34,6112.64,4075.10,16622.09,26809.81
14,2023-03,0.73,0.0,Yes,0.0,No,4.0,189.91,7636.83,5603.89,21306.43,34547.14
15,2023-04,0.78,5.0,No,0.0,No,4.0,339.39,10182.81,6788.54,17039.37,34010.72
16,2023-05,0.60,1.0,No,0.0,Medium,4.0,366.90,7338.34,5283.65,16731.53,29353.51
17,2023-06,0.52,0.0,No,0.0,Medium,4.0,289.96,6458.86,4085.96,15332.03,25876.83
18,2023-07,0.83,3.0,No,20.0,Medium,4.0,319.49,7797.38,5928.21,20746.45,34472.04
19,2023-08,0.62,2.0,No,10.0,Yes,4.0,319.49,6000.00,5000.00,17000.00,28000.00
20,2023-09,NaN,3.0,No,0.0,Yes,4.0,319.49,NaN,NaN,NaN,NaN
21,2023-10,NaN,0.0,No,0.0,Yes,4.0,319.49,NaN,NaN,NaN,NaN
22,2023-11,NaN,0.0,Yes,0.0,No,4.0,319.49,NaN,NaN,NaN,NaN
23,2023-12,NaN,5.0,Yes,10.0,No,4.0,319.49,NaN,NaN,NaN,NaN