In [6]:
import numpy as np
import pandas as pd
import seaborn as sns
import pingouin as pg
import ppscore as pps
import statsmodels.api as sm
import matplotlib.pyplot as plt
import feature_engine
from datetime import timedelta
from datetime import datetime
from sklearn.impute import SimpleImputer
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
import sklearn
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
from feature_engine.imputation import MeanMedianImputer
import math
import joblib
import pickle

In [7]:
excel_file_path = 'budgetusd.xlsx'
sheet_name = "Expenses"
df = pd.read_excel(excel_file_path, sheet_name=sheet_name)
# Load the Excel file into a pandas DataFrame

In [8]:
# This function will remove decimal points

def round_up_numeric(value):
    if pd.notnull(value) and isinstance(value, (int, float)):
        return math.ceil(value * 100) / 100
    return value

df =  df.applymap(round_up_numeric)

In [9]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index
df.set_index('Date', inplace=True)

In [10]:
duplicate_cols = df.columns[df.columns.duplicated()]
print("Duplicate Columns:", duplicate_cols)

Duplicate Columns: Index([], dtype='object')

In [11]:
df.isnull().sum()

Resturant Revenue        0
Bar Revenue              0
Rooms Revenue            0
Total Revenue            0
Restaurant D.Cost        0
Bar D.Cost               0
Hotel D.Cost             0
Total D. Costs           0
Eventuals Wages          0
Uniforms                 0
Bonuses                  0
Social Security          0
Wages                    0
Staff Food               0
Total Wages              0
Maintenance              0
Electricity              0
Accounting Services      0
Water                    0
Gas                      0
Admin Expenses           0
Cable & Internet         0
Spotify                  0
Telefono                 0
Insuraces                0
Transport                0
 Booking.com             0
POS System               0
Google Mail              0
Marketing                0
Little Hotelier          0
Comisiones POS           0
Total Indirect Costs     0
Total Operating Costs    0
GOP                      0
dtype: int64

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 48 entries, 2022-01-01 to 2025-12-01
Data columns (total 35 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Resturant Revenue      48 non-null     float64
 1   Bar Revenue            48 non-null     float64
 2   Rooms Revenue          48 non-null     float64
 3   Total Revenue          48 non-null     float64
 4   Restaurant D.Cost      48 non-null     float64
 5   Bar D.Cost             48 non-null     float64
 6   Hotel D.Cost           48 non-null     float64
 7   Total D. Costs         48 non-null     float64
 8   Eventuals Wages        48 non-null     float64
 9   Uniforms               48 non-null     float64
 10  Bonuses                48 non-null     float64
 11  Social Security        48 non-null     float64
 12  Wages                  48 non-null     float64
 13  Staff Food             48 non-null     float64
 14  Total Wages            48 non-null     float64
 15  Maintenance            48 non-null     float64
 16  Electricity            48 non-null     float64
 17  Accounting Services    48 non-null     float64
 18  Water                  48 non-null     float64
 19  Gas                    48 non-null     float64
 20  Admin Expenses         48 non-null     float64
 21  Cable & Internet       48 non-null     float64
 22  Spotify                48 non-null     float64
 23  Telefono               48 non-null     float64
 24  Insuraces              48 non-null     float64
 25  Transport              48 non-null     float64
 26   Booking.com           48 non-null     float64
 27  POS System             48 non-null     float64
 28  Google Mail            48 non-null     float64
 29  Marketing              48 non-null     float64
 30  Little Hotelier        48 non-null     float64
 31  Comisiones POS         48 non-null     float64
 32  Total Indirect Costs   48 non-null     float64
 33  Total Operating Costs  48 non-null     float64
 34  GOP                    48 non-null     float64
dtypes: float64(35)
memory usage: 13.5 KB