In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pingouin as pg
import ppscore as pps
import statsmodels.api as sm
import matplotlib.pyplot as plt
import feature_engine
import pygwalker as pyg
from datetime import timedelta
from datetime import datetime
from sklearn.impute import SimpleImputer
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
import sklearn
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
from feature_engine.imputation import MeanMedianImputer
import math
import joblib
import pickle

In [4]:
excel_file_path = 'budgetusd.xlsx'
sheet_name = "Rooms Revenue"
df = pd.read_excel(excel_file_path, sheet_name=sheet_name)
# Load the Excel file into a pandas DataFrame
df.head()

,Date,Percentage Rooms Occ %,Holidays Local,Seasonality,Holidays North,Local Rainy Season,International Flights,Marketing,Average Room Rate,Number of Rooms,Rooms Revenue
0,2023-10,0.00,0,Low,0,Yes,1,10.000000,70,9,0.000000
1,2023-11,0.00,0,Low,0,Yes,1,10.000000,70,9,0.000000
2,2023-12,0.00,0,Low,0,Yes,1,10.000000,70,9,0.000000
3,2022-01,0.61,3,High,7,No,1,62.111111,75,9,13136.888889
4,2022-02,0.62,1,High,0,No,1,62.111111,75,9,11430.527778

In [2]:
dir(pyg)

['FieldSpec',
 'GWalker',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__get_config',
 '__hash__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__rand_str',
 '__spec__',
 '__version__',
 '_constants',
 '_typing',
 'api',
 'check_update',
 'communications',
 'data_parsers',
 'errors',
 'init_logging',
 'logging',
 'services',
 'to_html',
 'utils',
 'walk']