In [9]:
import numpy as np
import pandas as pd
import seaborn as sns
import pingouin as pg
import ppscore as pps
import statsmodels.api as sm
import matplotlib.pyplot as plt
import feature_engine
from datetime import timedelta
from datetime import datetime
from sklearn.impute import SimpleImputer
from statsmodels.tsa.holtwinters import SimpleExpSmoothing
from statsmodels.tsa.arima_model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX
import sklearn
from sklearn.cluster import KMeans
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.decomposition import PCA
from feature_engine.imputation import MeanMedianImputer
import math
import joblib
import pickle

In [10]:
excel_file_path = '../budgetusd.xlsx'
sheet_name = "F&B Expenses"
df = pd.read_excel(excel_file_path, sheet_name=sheet_name)
# Load the Excel file into a pandas DataFrame

In [11]:
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Set 'Date' as the index
df.set_index('Date', inplace=True)

In [12]:
df

            Percentage Rooms Occ %   F&B Revenue  F&B Expenses
Date
2022-01-01                    0.83  11744.194444   5247.944444
2022-02-01                    0.84   9433.333333   5794.638889
2022-03-01                    0.75   8833.083333   4194.444444
2022-04-01                    0.78  18834.583333   7372.138889
2022-05-01                    0.60   9258.350000   3003.001488
2022-06-01                    0.54   4703.320000   1722.222222
2022-07-01                    0.83  10576.649167   3995.787500
2022-08-01                    0.62   8996.671750   3067.437722
2022-09-01                    0.70   9158.684444   3947.025228
2022-10-01                    0.40   6615.247606   2060.161107
2022-11-01                    0.65   9459.899444   3896.055090
2022-12-01                    0.86  13662.951111   6203.322874
2023-01-01                    0.86  16288.453889   6396.799722
2023-02-01                    0.87  10187.727061   4136.106944
2023-03-01                    0.78  13240.710251   5017.660556
2023-04-01                    0.78  16971.347986   7282.230583
2023-05-01                    0.60  12621.973611   4708.287892
2023-06-01                    0.57  10544.807500   4511.055657
2023-07-01                    0.83  13725.585278   5402.806864
2023-08-01                    0.62  12700.000000   4290.000000
2023-09-01                    0.70  12260.469023   4163.000000
2023-10-01                    0.40   9535.023727   3901.000000
2023-11-01                    0.68  10833.227440   4616.000000
2023-12-01                    0.89  14520.532472   5955.000000
2024-01-01                    0.86  17497.813047   5388.000000
2024-02-01                    0.87  10501.195586   4095.466279
2024-03-01                    0.78  12711.081841   4957.321918
2024-04-01                    0.78  16372.359234   6385.220101
2024-05-01                    0.60  10097.578889   3938.055767
2024-06-01                    0.57   6489.112308   2530.753800
2024-07-01                    0.83  11764.787381   4588.267079
2024-08-01                    0.62  19050.000000   6435.000000
2024-09-01                    0.70  12260.000000   3821.919019
2024-10-01                    0.40  11442.028472   3312.651391
2024-11-01                    0.68  10833.227440   4058.296862
2024-12-01                    0.89  13666.383503   5516.617437
2025-01-01                    0.86  18137.976939   6749.528080
2025-02-01                    0.87  10971.398374   4278.845366
2025-03-01                    0.78  13240.710251   5163.876998
2025-04-01                    0.78  16971.347986   6618.825715
2025-05-01                    0.60  12621.973611   4922.569708
2025-06-01                    0.57  10544.807500   4112.474925
2025-07-01                    0.83  13725.585278   5352.978258
2025-08-01                    0.62  12700.000000   4290.000000
2025-09-01                    0.70  12260.000000   3821.919019
2025-10-01                    0.40  11442.028472   3312.651391
2025-11-01                    0.68  10833.227440   4058.296862
2025-12-01                    0.89  14520.532472   5861.406027

In [13]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

# Assuming you have a DataFrame called 'df' with your data
X = df[['F&B Revenue']]  # Independent variable
y = df['F&B Expenses']    # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

# Create and train a linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions on the test set
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse}")
print(f"R-squared: {r2}")

# You can use the 'model' to make predictions on new data

Mean Squared Error: 173113.19727060068
R-squared: 0.7200191077283677

In [14]:
import joblib

# Save the trained model to a file
model_filename = 'fb_expenses_model.pkl'
joblib.dump(model, model_filename)

['fb_expenses_model.pkl']

In [15]:
import joblib

# Load the saved model from the file
model_filename = 'fb_expenses_model.pkl'
loaded_model = joblib.load(model_filename)

In [16]:
# Save the trained model to a file (this step is done after training)
import joblib

# Load the saved model from the file (before making predictions)
model_filename = 'fb_expenses_model.pkl'
loaded_model = joblib.load(model_filename)

# Prepare new data for prediction (replace with your actual data)
import pandas as pd

new_data = pd.DataFrame({'F&B Revenue': [10000]})

# Use the loaded model to make predictions on new data
y_pred_new = loaded_model.predict(new_data)

# Inspect the predictions
print(f"Predicted F&B Expenses: {y_pred_new[0]}")

Predicted F&B Expenses: 3958.0245424626632